/*Validated for KASware3*/
.BaseBackground {
    background-color: #8ea2b2;
}

.TopBackground {
    background-color: #342042;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.GateQuestion{
    font-size: 30px; 
    color: white; 
    text-align: center;
    margin-top: 25px;
}

.CheckboxLabel{
    display: block;
    padding-left: 15px;
    text-indent: -15px;
}

.CheckboxInput{
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden
}

.NoSideMarginOrPadding {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
}

.SectionTitle{
    color: white; 
    /*text-shadow: 0px 1px 0px rgba(255,255,255,.5);*/
    display: block;
    font-size: 50px;
    text-align: left;
    margin-bottom: 5px;
    margin-top: 15px;
    /*margin-left: 17px;*/
    text-decoration: none;
    font-family: 'Rationale', sans-serif;
}

.KaswareFont{
    font-family: 'Rationale', sans-serif;
}

.SectionSelectionBar{
    background-color: #828d95; 
    padding: 45px;
    padding-top: 20px;
    padding-right: 35px;
}

.SectionButton{
    height: 40px;
    margin-bottom: 5px;
    font-family: 'Rationale', sans-serif; 
    font-size: 18px;
    text-align: left;
    -webkit-user-select: none;    
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default {
    color: white;
    background-color: #3e3838;
    border-color: white; /*set the color you want here*/
}

.SetIcon{
    margin-right: 10px; 
    margin-top: 5px;
}

.SelectedSection{
    background-color: #3e3838;
    color: white;
}

.my-btn {
  .button-variant(red; white; blue);
}

.NavigationKASwareTitleText {
    color: white;
    font-size: 25px; 
    /*font-weight: bold;*/
    vertical-align: bottom;
}

.NagivationMiniTopTitle{
    color: white;
    /*color: #222;*/
    font-size: 8px;
    text-align: left;
    vertical-align: top;
}

.KSUdisplaySection {
   
  background: #fff;  
  border: 2px #ddd;

  border-style: solid;  
  /*border-color: white;*/
  
  padding:10px;
  font-size: 13px;
  max-width: 600px;

  -webkit-box-shadow: 0.5px 2px 2px 0.5px rgba(0,0,0,0.25);
  -moz-box-shadow: 0.5px 2px 2px 0.5px rgba(0,0,0,0.25);
  /*box-shadow: 0.5px 2px 2px 0.5px rgba(0,0,0,0.25);*/
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);

  margin-bottom: 6px;
}

.EventDisplaySection {
   
  background: #fff;  
  border: 1px #ddd;

  border-radius: 5px;
  border-style: solid;  
  border-color: white;
  
  padding:5px;
  font-size: 13px;
  max-width: 600px;

  -webkit-box-shadow: 0.5px 2px 2px 0.5px rgba(0,0,0,0.25);
  -moz-box-shadow: 0.5px 2px 2px 0.5px rgba(0,0,0,0.25);
  /*box-shadow: 0.5px 2px 2px 0.5px rgba(0,0,0,0.25);*/
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);

  margin-bottom: 6px;
}

.GameLogDisplaySection {
   
  background: #fff;  
  border: 1px #ddd;

  border-radius: 5px;
  border-style: solid;  
  border-color: white;
  
  padding:5px;
  font-size: 13px;
  max-width: 600px;

  -webkit-box-shadow: 0.5px 2px 2px 0.5px rgba(0,0,0,0.25);
  -moz-box-shadow: 0.5px 2px 2px 0.5px rgba(0,0,0,0.25);
  /*box-shadow: 0.5px 2px 2px 0.5px rgba(0,0,0,0.25);*/
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);

  margin-bottom: 6px;
}


.DashboardDisplaySection{
  background: #fff;  
  border: 1px #ddd;

  min-height: 150px;

  border-radius: 5px;
  border-style: solid;  
  border-color: white;
  
  padding-top:15px;
  padding-left:20px;
  padding-right:20px;
  padding-bottom:15px;
  
  font-size: 13px;

  -webkit-box-shadow: 0.5px 2px 2px 0.5px rgba(0,0,0,0.25);
  -moz-box-shadow: 0.5px 2px 2px 0.5px rgba(0,0,0,0.25);
  /*box-shadow: 0.5px 2px 2px 0.5px rgba(0,0,0,0.25);*/
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  margin-bottom: 6px;
}


.DashboardTitle{
    font-size: 35px; 
    font-weight: bold;
    font-family: 'Rationale', sans-serif;
}

.DashboardSubTitle{
    font-size: 20px; 
    font-family: 'Rationale', sans-serif;
    line-height: 20px;
}

.DashboardKSUdescription{
    font-size: 20px; 
    margin-top: 5px;
    margin-bottom: 10px;
    line-height: 100%;

}


.SideOptionsContainer{
    border: 1.5px;
    border-style: dashed;
    border-radius: 10px;
    padding: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-color: white;
    color: white;
}


.SideOptionsTitle{
    color: white; 
    font-weight: lighter;
    font-size: 18px;
}


.DashboardScore{
    font-size: 40px;
}

.DashboardContrast{}



.ScoreHolder{
    height: 38px;
    width: 38px;
    text-align: center;
    padding-top: 2px;
    font-size: 20px;
    font-weight: bold;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
}


.ScoreHolderPerception{
    font-size: 18px;
    padding-top: 5px;
}

.ScoreHolderReality{
    font-size: 11px;
    word-wrap: break-word;
}

.ScoreHolderEffort{
    color: #5cb85c;
}

.ScoreHolderStupidity{
    color: #d9534f;
}

.ScoreHolderEndValue{
    color: #a58a2a;
}


.EventDetails{
    color:purple;
    font-family: 'Rationale', sans-serif;
}

.EventDeleteButton {
    height: 38px;
    width: 38px;
    padding: 6px;
    font-size: 14px;
    line-height: 1.33;
    border-radius: 8px;
}


.WhiteToSuccessButton{
    border-color:#3e3838;
    color: #3e3838;
    background-color: white;  
}

.WhiteToSuccessButton:hover{
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}


.MilestoneReachedButton{
/*    border-color: #a58a2a;
    color: #a58a2a;
    background-color: #f5e5b3;*/
    border-color:#3e3838;
    color: #3e3838;

    background-color: white;
}

.MilestoneReachedButton:hover {
    color: #f5e5b3;
    background-color: #a58a2a;
    border-color: #f5e5b3;
}



.IsRealized {
    border-color: #a58a2a;
    /*color: #a58a2a;*/
    /*background-color: #f5e5b3;*/
}


.EndValueButton{
    border-color: #a58a2a;
    color: #a58a2a;
    background-color: #f5e5b3;
}

.EndValueButton:hover{
    border-color: #f5e5b3;
    color: #f5e5b3;
    background-color: #a58a2a;
}


.IsHistory {
  border-color: #6b8ac1;
  color: #6b8ac1;
  /*background-color: rgba(219, 236, 253, 1);  */
}


.IsCritical {
   border-color: #bb6262 
}


.IsOptional {
    border-color: #3a8a26
}

.ActionBorders{
  border-radius: 25px;
}


.LifePieceBorder{
    border-radius: 8px;
}


.TimeRuler{
   
  background: #fff;
  color: white;
  background-color: #342042;
  
  height: 20px;

  max-width: 600px;
  border: 1px #ddd;
  border-style: solid;  
  border-color: white;
  
  padding:0px;
  font-size: 13px;

  -webkit-box-shadow: 0.5px 2px 2px 0.5px rgba(0,0,0,0.25);
  -moz-box-shadow: 0.5px 2px 2px 0.5px rgba(0,0,0,0.25);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}


.SexySelect{
    color:purple;  
    height: 25px;
    padding: 0;
}

.SexyInput{    
    height: 25px;
    padding: 3px;
/*    padding-top: 5;
    padding-bottom: 5px;
    padding-right: 3px*/
}

.KSUinput{
    border: none;
    padding: 0;
    max-width: 100%;
}

.LifePiceShowDetailBtn {
    height: 38px;
    width: 38px;
    padding: 6px;
    font-size: 14px;
    line-height: 1.33;
    border-radius: 8px;
}

.ksu-circle-btn {
    width: 38px;
    height: 38px;
    padding: 6px;
    font-size: 14px;
    line-height: 1.33;
    border-radius: 25px;
}

.half-circle-btn {
    margin-left: 3px; 
    height: 22px; 
    width: 38px; 
    padding:0; 
    text-align: center; 
}


.inKSUhr{
    border: none;
    height: 1px;
    color: #D8D8D8;
    background-color: #D8D8D8;
    margin:5px; 
    margin-top:5px; 
    margin-bottom: 15px;
}


.inKSUhrDiv{
    padding-right: 10px; 
    padding-left: 10px    
}

.BarButton{
/*    padding-left: 11px;
    padding-right: 11px;*/
    width: 40px;
}



.fileContainer {
    overflow: hidden;
    position: relative;
}

.fileContainer [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

/* Example stylistic flourishes */

.fileContainer {
    border-style: dashed;
    border-radius: .5em;
    float: left;
    padding: .5em;
}

.fileContainer [type=file] {
    cursor: pointer;
}


.PlayPulse {
    /*border: 3px solid #999;*/
    -webkit-animation: pulsate 8s ease-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: 0.0
}
@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}

.copywright-message{
    display: block;
    color: #D3D3D3;
    text-align: center;
    text-decoration: none;

}

.ViewerOptionsButton {
    height: 20px;
    margin-bottom: 0px;
    width: 30px;
    padding-top: 2px;
    padding-left: 7px;
    font-size: 12px;
    margin-left: -5px;

