<div class="row" id="Theory" value="{{theory.key.id()}}">
	<div class="col-xs-4">
		<label style="color: white; font-weight: bold;"> Nickname </label>
		<input type="text" class="form-control TheoryAttr" name="nickname" id="nickname" value="{{theory.nickname}}">
	</div>

	<div class="col-xs-4">
		<label style="color: white; font-weight: bold;"> Timezone </label>
		<select class="form-control TheoryAttr" name="timezone" id="timezone">
		{% for i in range(-11,12) %}
			{% if theory.settings['timezone'] == i %}
				<option selected="selected" value="{{i}}">U.T.C {% if i >= 0 %}+{% endif %}{{i}}</option>
			{% else %}
				<option value="{{i}}">U.T.C {% if i >= 0 %}+{% endif %}{{i}}</option>
			{% endif %}
		{% endfor %}
		</select>
	</div>	

	<div class="col-xs-4" style="">
		<div class="checkbox" style="font-size: 20px;"> 
			<label style="color: white;"><input type="checkbox" class="TheoryAttr" name="hide_private_ksus" id="hide_private_ksus" style=" margin-top: 6px;" {% if theory.settings['hide_private_ksus'] %}checked{% endif %}> Hide Private Theory Pieces </label> 
		</div>
	</div>

</div>
	

