<div class="row" id="Theory" value="{{theory.key.id()}}">
	<div class="col-xs-4">
		<label style="color: white; font-weight: bold;"> First Name </label>
		<input type="text" class="form-control TheoryAttr" name="first_name" id="first_name" value="{{theory.first_name}}">
	</div>

	<div class="col-xs-4">
		<label style="color: white; font-weight: bold;"> Last Name </label>
		<input type="text" class="form-control TheoryAttr" name="last_name" id="last_name" value="{{theory.last_name}}">
	</div>		

	<div class="col-xs-4">
		<label style="color: white; font-weight: bold;"> Timezone </label>
		<select class="form-control TheoryAttr" name="timezone" id="timezone">
		{% for i in range(-11,12) %}
			{% if theory.timezone == i %}
				<option selected="selected" value="{{i}}">U.T.C {% if i >= 0 %}+{% endif %}{{i}}</option>
			{% else %}
				<option value="{{i}}">U.T.C {% if i >= 0 %}+{% endif %}{{i}}</option>
			{% endif %}
		{% endfor %}
		</select>
	</div>	

<!-- 	<div class="col-xs-4">
		<label style="color: white; font-weight: bold;"> Language </label>
		<select class="form-control" name="language">
			<option {% if theory.language == 'Spanish' %}selected="selected"{% endif %} value="Spanish">Spanish</option>
			<option {% if theory.language == 'English' %}selected="selected"{% endif %} value="English">English</option>
		</select>
	</div> -->

	<div class="col-xs-12" style="text-align: center;">
		<div class="checkbox" style="margin-top: 30px; font-size: 20px;"> 
			<label style="color: white;"><input type="checkbox" class="TheoryAttr" name="hide_private_ksus" id="hide_private_ksus" style=" margin-top: 6px;" {% if theory.hide_private_ksus %}checked{% endif %}> Hide private KSUs </label> 
		</div>
	</div>

</div>
	

